@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gotham Black';
    src: url('/src/assets/Gotham-Black.otf') format('opentype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gotham Black', sans-serif;
}

body,
p,
span,
div,
ul,
li {
    font-family: 'Raleway', sans-serif;
}

.fade-enter {
    opacity: 0;
    transform: translateY(20px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}