@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gotham Black';
    src: url('/src/assets/Gotham-Black.otf') format('opentype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gotham Black', sans-serif;
}

body,
p,
span,
div,
ul,
li {
    font-family: 'Raleway', sans-serif;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #33acfd;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}